
* {
    box-sizing: border-box;
}


img {
    object-fit: cover;
    width: 95%;
    height: 95%;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(14, 2vh);
    grid-template-rows: repeat(9, 3vh);
    margin: 1% auto;
    width: min-content;
}


.A {
    grid-area: 1 / -7 / 4 / 1;
}

.B {
    grid-area: 1 / 10 / 6 / -1;
}

.C {
    grid-area: 14 / 10 / 6 / -1;
}

.D {
    grid-area: 14 / 1 / -7 / 5;
}

.E {
    grid-area: 14 / -6 / -7 / 5;
}

/*1*/

.F {
    grid-area: 1 / -7 / 4 / 1;
}

.G {
    grid-area: 1 / 9 / 4 / -1;
}

/*2*/

.H {
    grid-area: 7 / 7 / 4 / 1;
}

.I {
    grid-area: 7 / -5 / 4 / -1;
}

.J {
    grid-area: 7 / 11 / 4 / 7;
}

/*3*/
.K {
    grid-area: 14 / -7 / -4 / -1;
}

.L {
    grid-area: 14 / -7 / -4 / 1;
}


figcaption {
    grid-area: -3 / -4 / -1 / -1;
    color: #fff;
    font-family: 'Merriweather', serif;
}





