

/* Cambiar el fondo del body y de la navegación */
body {
    background-color: #fff;
}

nav {
    background-color: #fff;
    border: none;
}

/* Estilos para el logo */
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

/* Estilos para el botón */
.btn-custom {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ff69b4;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}

/* Estilos para las imágenes */
.rounded-circle {
    border: 2px solid #ff69b4;
}

.card-img-top {
    border-radius: 20px;
}

/* Estilos para los títulos y los textos */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff69b4;
}

.card-text {
    font-size: 1.2rem;
    color: #ffffff;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-top: 30px;
}

/* Estilos para los botones */
.btn-red {
    background-color: #ff69b4;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-red:hover {
    background-color: #e64d89;
}

/* Estilos para los contenedores */
.container {
    max-width: 70%;
    margin: auto;
}

.container.ce {
    margin-top: 5%;
}

.container-fluid {
    background-color: #fff;
    margin-top: 50px;
    padding: 50px 0;
}