* {

    font-style: italic;

}

.A-1 {

    max-width: 20rem;
}

.icon-1 {
    font-size: 5rem;

}

.icon-2 {
    font-size: 3rem;

}

.card-img {
max-width: 100%;
}

.img-a1 {

    /* Estilo básico para la caja */
    width: 3rem;
    /* Ancho de la caja */
    height: 3rem;
    /* Altura de la caja */
    background-color: #f0f0f0;
    /* Color de fondo de la caja */
    border: 2px solid #333;
    /* Borde de la caja */
    border-radius: 10px;
    /* Radio de los bordes para hacerla más redondeada */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra de la caja */
    margin: 20px;
    /* Margen exterior */
    padding: 10px;
    /* Relleno interior */




}



.box-1 {

    width: auto;
    /* Ancho de la caja */
    height: auto;
    /* Altura de la caja */
    background-color: #f0f0f000;
    /* Color de fondo de la caja */
    border: 2px solid #33333300;
    /* Borde de la caja */
    border-radius: 10px;
    /* Radio de los bordes para hacerla más redondeada */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0);
    /* Sombra de la caja */
    margin: 20px;
    /* Margen exterior */
    padding: 10px;
    /* Relleno interior */




}


.box-6 {
    width: auto;
    /* Ancho de la caja */
    height: auto;

}